.page-holder {
 
    min-height: 100vh;
  }
  
  .bg-cover {
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url(https://sims-news.ru/uploads/posts/2016-06/1465407098_49.jpg);
    

  }
  body{
      margin: 0px;
      font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: ivory;
  }
.h{margin: 0px;
 color: ivory;
 font-weight: bold;
 font-size: 6em;
 padding-top:250px ;
 order: 1;


}


h1
{margin: 0px;
}
.site-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about{
    color: ivory;
    width:20em;
    padding-top: 40px;
    order:2;
    font-size: 3em;
}
.about p{
    padding-top: 50px;
}
main{
    background-color: ivory ;
    padding-top: 30px;
}
.main-inf{
    padding-left:50px ;
  
}
.new{
    font-weight: bold;
    font-size: 30px;
    width: 150px;

}
.stext {
    font-size: 1.5em;
    padding-top: 20PX;
    width: 400px;

}


.imgs{
    padding-top: 20px;
    padding-bottom: 40px;
}
.cot{
    padding-top: 20px;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.menu{
    font-size: 2em;
    color:#2D2D2E
    }
footer{
    height: 100px;
    background-color: #47CC03 ;
    padding-top: 10px;
    align-items: center;
    flex-direction: row;
    display: flex;
   
}
.planbob{

  padding-top: 10px;  
}
.official{
    font-size: 15px ;
    width: 150px;

}
a{
    text-decoration:none ;
}
main a{
    color:#2D2D2E
}
.official a{
    color: ivory;
}
footer{
    display: flex;
    justify-content: center;
   
}
.inf{
    display: flex;
    justify-content: baseline;
    justify-content: space-between;
    font-size: 1.5em;


}
.inf div{
    padding-left: 20px;
}
.inf a{
    color: ivory;
    padding-top: 10px;
    justify-content: space-around;
  
}
.name{
    font-size: 1em;
    font-weight: bold;
    color: #38761d;
    padding-right: 15px;
  
}
.planbob{
    padding-left: 30px;
}